*{
    padding: 0;
    margin: 0;
    color: #ffffff;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.9)),url(../imgde/stock-1863880_640.jpg);
    background-size: cover;
    height: 713px;
}
.form-group img {
    width: 100%;
    display:flex;
}
label{
    text-align: center;
    color: rgb(30, 135, 228);
    font-size: 17px;
    text-transform: uppercase;
}
.form-group{
    width: 900px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.form-row{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: 1px solid #164546;
    justify-content: center;
    
}
.form-row input{
    background-color:transparent;
    color:#ffffff;
    border:1px solid #ccd3d3;
    border-radius:0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
}
.form-row input :hover{
    background-color: #4b6e6e;
}




.btn-primary{
    background-color: #164546;
    display: flex;
    border: 1px solid #164546;
    align-items: center;
    font-size: 20px;
    transition: 0.5s;
    border-radius: 0;
}
.btn-primary:hover{
    background-color: #59898a;
    border: 1px solid #ccd3d3;
    transition: 0.5s;
}
.text textarea{
    background-color:transparent;
    border: 1px solid #ccd3d3;
    border-radius:0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#banco{
    background-color:transparent;
}
#forma_de_pago{
    background-color:transparent;
}
select option{
    background:#164546;
    border: 0;
    border-radius:0;
    text-shadow: #ccd3d3;
}
.container button{
    background-color:#59898a;
    transition: 0.5s;
    border:0;

}

.container button:hover{
    background-color: #164546;
    transition: 0.5s;
    border: 0;
}
