<!DOCTYPE html>
<html class="no-js"> 
    <head>
        <meta charset="utf-8">
        <title>Nucasim</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/templatemo-style.css">

    </head>
    <body>
        <div class="responsive-header visible-xs visible-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="top-section">
                                <img src="img/7.jpg">
                            </div>
                            <div class="profile-content">
                                <h3 class="profile-title">Nucasim</h3>
                                <p class="profile-description">Nursing Care Simulation</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
                <div class="main-navigation responsive-menu">
                    <ul class="navigation">
                        <li><a href="#about"><i class="fa fa-user"></i>Nosotros</a></li>
                        <li><a href="#projects"><i class="fa fa-newspaper-o"></i>cursos</a></li>
                        <li><a href="#Ingreso"><i class="fa fa-envelope"></i>Ingreso</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="sidebar-menu hidden-xs hidden-sm">
            <div class="top-section">
                <div class="profile-image">
                    <img src="img/logo.jpg">
                </div>
                <h3 class="profile-title">Nucasim</h3>
                <p class="profile-description">Nursing Care Simulation</p>
            </div> 
            <div class="main-navigation">
                <ul class="navigation">
                    <li><a href="#about"><i class="fa fa-pencil"></i>Nosotros</a></li>
                    <li><a href="#projects"><i class="fa fa-paperclip"></i>Cursos</a></li>
                    <li><a href="#Ingreso"><i class="fa fa-link"></i>Ingreso</a></li>
                </ul>
            </div> 
            <div class="social-icons">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div> 
        </div> 
       
        <div class="main-content">
            <div class="fluid-container">
                <div class="content-wrapper">
                    <div class="page-section" id="about">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="widget-title">Nosotros</h4>
                            <div class="about-image">
                                <h1>NUCASIM</h1>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta incidunt explicabo dignissimos laudantium iure ipsum necessitatibus, nesciunt ex odit eos veniam ab tempore, vel excepturi reiciendis! Fugiat blanditiis voluptas reprehenderit.</p>
                            </div>
                            <p>MISIÓN</p>
                            <p>Somos un Centro de simulación clínica que ofrecer servicios de formación continuada,
                                entrenamiento y reinducción de procesos, protocolos y guías clínicas en salud, mediante la
                                didáctica de la simulación clínica de mediana y alta fidelidad, favoreciendo la idoneidad técnica y
                                profesional del trabajador de la salud, promoviendo con ello el perfeccionamiento de los cuidados
                                enfermeros humanizados en hospitales e instituciones de educación de la región.</p>
                                
                            <p>VISIÓN</p>
                            <p>Consolidarnos como centro de entrenamiento y simulación clínica para el año 2025 que ofrezca
                                sus servicios de educación clínica de mediana y alta fidelidad a sus clientes para que puedan
                                perfeccionar sus competencias profesionales y laborales.</p>
                            <p>VALORES</p>
                                Excelencia, Innovación, liderazgo, trabajo en equipo, seguridad del paciente.</p>
                            <hr>
                        </div>
                    </div> 
                    </div>
                    
                    <div class="page-section" id="projects">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="widget-title">Cursos</h4>
                            <p>Somos tu Centro de Entrenamiento y Simulación Clínica, que certifica
                                competencias en cuidado crítico, reanimación básica y avanzada, atención
                                prehospitalaria y cuidados de enfermeros.</p>
                        </div>
                    </div>
                    <div class="row projects-holder">
                        <div class="col-md-4 col-sm-6">
                            <div class="project-item">
                                <img src="img/2.jpg" alt="">
                                <div class="project-hover">
                                    <div class="inside">
                                        <h5><a href="#">BLS/ACLS</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="project-item">
                                <img src="img/3.jpg" alt="">
                                <div class="project-hover">
                                    <div class="inside">
                                        <h5><a href="#">APH</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam cursus.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="project-item">
                                <img src="img/4.jpg" alt="">
                                <div class="project-hover">
                                    <div class="inside">
                                        <h5><a href="#">Cuidado Médico y de Enfermería</a></h5>
                                        <p>Quisque mattis sit amet dolor eu scelerisque. Vivamus bibendum massa et nisl tempus commodo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    </div>
                    <hr>

                    <div class="page-section">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="widget-title">Contacto</h4>
                            <p>Celular : 3136985859</p>
                            <p>Email: info@nucasim.com.co</p>
                            <p>Dirección: Cra 12 bis No 9 – 09 circunvalar</p>
                        </div>
                    </div>

                    <div class="row" id="footer">
                        <div class="col-md-12 text-center">
                            <p class="copyright-text">Copyright &copy; 2015 Company Name</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/vendor/jquery-1.10.2.min.js"></script>
        <script src="js/min/plugins.min.js"></script>
        <script src="js/min/main.min.js"></script>

    </body>
</html>