<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cartera</title>
</head>
<body>
    <form action="">
        <label for="numero">digita tu numero</label>
        <input type="number" name="numero"  id="numero" placeholder="tu numero" required>
        <br>

        <label for="">fecha</label>
        <input type="date" name="fecha" id="fecha" placeholder="introduce la fecha" required><br>

        <label for="formaDePago">formaDePago</label>
        <select name="forma_de_pago" id="forma_de_pago" required>
            <option value="efectivo">efectivo</option>
            <option value="tranferencia">tranferencia</option>
            <option value="consignacion">consignacion</option>
        </select><br>

        <label for="numeroDeTrancicion"> numero De Trancicion</label>
        <input type="number" id="numeroDeTrancicion" name="numero" placeholder="digita tu numero de transacción" required><br>

        <label for="banco">banco</label>
        <select name="banco" id="banco" required>
            <option value="bancolombia">bancolombia</option>
            <option value="bbva">bbva</option>
            <option value="colpatria">colpatria</option>
        </select><br>

        <label for="concepto">concepto</label>
        <input type="text" id="concepto" name="concepto" placeholder="concepto de x cosa jaja" required><br>

        <label for="valor">valor</label>
        <input type="number" name="valor" id="valor" placeholder="valor del curso" required>

        <label for="cursos">cursos</label>
        <input type="text" name="curso" id="curso" placeholder="dime el curso" required><br>

        <label for="identificacion">identificacion</label>
        <input type="number" name="identificacion"  id="identificacion" placeholder="tu identificacion" required><br>

        <input type="submit" >

    </form>
</body>
</html>