<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupos</title>
</head>
<body>
    <form action="">
        <label for="grupo">numero de grupo</label>
        <input type="number" name="grupo" id="grupo" required><br>

        <label for="descripcion">descripcion</label>
        <input type="textarea" name="descripcion" id="descripcion"><br>

        <label for="cursos">cursos</label>
        <input type="text" name="curso" id="curso" placeholder="dime el curso" required><br>

        <label for="fechaDeInicio">fecha De Inicio</label>
        <input type="date" name="fechaDeInicio" id="fechaDeInicio" required>
        <label for="fechaDeFin">fecha de Fin</label>
        <input type="date" name="fechaDeFin" id="fechaDeFin" required><br>

        <label for="valor">valor</label>
        <input type="number" name="valor" id="valor" placeholder="valor del curso" required><br>

        <label for="estado">estado</label>
        <input type="text" name="estado" id="estado"><br>
<br>
        <textarea name="observaciones" placeholder="Escribe si tienes observaciones" id="observaciones"rows="10" cols="30"></textarea>
<br>
        <input type="submit">

    </form>
</body>
</html>