<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>repositorio doc</title>
</head>
<body>
    <form action="">
        <label for="tipoDeIdentificacion">tipoDeIdentificacion</label>
        <select name="tipoDeIdentificacion" id="tipoDeIdentificacion" placeholder="tipo De Identificacion" required>
            <option value="cedula">cedula</option>
            <option value="cedula">targeta de identidad</option>
            <option value="cedula">pasaporte</option><br>  
        </select><br>

        <label for="identificacion">identificacion</label>
        <input type="number" name="identificacion"  id="identificacion" placeholder="numero de id" required><br>

        <label for="link">Link</label>
        <input type="text" name="link" id="link " placeholder="link de tu repositorio">

<br>
        <label for="">fecha</label>
        <input type="date" name="fecha" id="fecha" placeholder="introduce la fecha"><br>

        <label for="curso">cursos</label>
        <input type="text" name="curso" id="curso" placeholder="introduce tu curso" required><br>

        <label for="ide">Tu ide</label>
        <input type="number" name="ide" id="ide" placeholder="ide">

        <input type="submit" placeholder="deleee papu">
    </form>
</body>
</html>